<div class="ngForProject">
    <div class="project">
        <div class="intro">
            <div class="pic"><img src="assets/images/Axxes.jpg" alt="assets/images/Axxes.jpg"></div>
            <div class="what">
                <div class="name">Stage - Axxes</div>
                <div class="functions">
                    <div>React-Native Front-end developer</div>
                    <div>Python developer</div>
                </div>
            </div>
        </div>
        <div class="text all">
            <p>De ontwikkeling van een nieuwe feature voor de interne applicatie van Axxes.</p>
            <p>Axxes is een IT consultancy bedrijf dat zeer hard inzet op de jobtevredenheid van zijn werknemers. Daarom heeft Axxes mij, samen met 2 andere stagaires, de taak gegeven om voor elke werknemer een gepersonalisseerde 'year-in-review' te maken. In dit jaaroverzicht kan de werknemer dan zien wat zij het voorbije jaar gedaan hebben. Hier worden dan ook zijn projecten kort toegelicht en een aantal foto's getoond van de verschillende evenementen waar deze persoon heen is geweest.</p>
            <p>Voor Axxes was het daarnaast ook super belangrijk dat dit niet iets eenmalig was en dat dit dus automatisch elk jaar gegenereerd kan worden. Wij hebben dan uiteindelijk een python script geschreven dat dit kan bereiken.</p>
        </div>
        <ul class="tasks">
            <li>Spotify wrapped achtig jaaroverzicht voor elke individuele werknemer</li>
            <li>Automatisch genereren van gepersonalisseerde videos</li>
        </ul>
        <app-image-carrousel [images]="imagesStage"></app-image-carrousel>
        <ul class="skills">
            <li>React Native</li>
            <li>HTML/SASS/JS</li>
            <li>Python</li>
            <li>Azure DevOps</li>
            <li>TypeScript/JavaScript</li>
            <li>Docker</li>
            <li>Presenteren</li>
            <li>Teamwerk</li>
        </ul>
        <ul class="documents">
            <li><a href="assets/documents/JonasWouters_StageAxxes_PlanVanAanpak.pdf" target="_blank">Plan van aanpak</a>: <a href="assets/documents/JonasWouters_StageAxxes_PlanVanAanpak.pdf" download><i class="fa-solid fa-download"></i></a></li>
            <li><a href="assets/documents/JonasWouters_StageAxxes_Realisatie.pdf" target="_blank">Realisaties</a>: <a href="assets/documents/JonasWouters_StageAxxes_Realisatie.pdf" download><i class="fa-solid fa-download"></i></a></li>
            <li><a href="assets/documents/JonasWouters_StageAxxes_Weekverslag.pdf" target="_blank">Verslagen</a>: <a href="assets/documents/JonasWouters_StageAxxes_Weekverslag.pdf" download><i class="fa-solid fa-download"></i></a></li>
            <li><a href="assets/documents/JonasWouters_StageAxxes_Reflectie.pdf" target="_blank">Reflectie</a>: <a href="assets/documents/JonasWouters_StageAxxes_Reflectie.pdf" download><i class="fa-solid fa-download"></i></a></li>
        </ul>
    </div>
</div>
